/*

# folders
!/gradle
!/src

# files
!/.gitignore
!/changelog.md
!/README.md
!/build.gradle
!/build.properties
!/gradle.properties
!/gradlew
!/gradlew.bat

# APIs and dependencies
!/libs
/libs/*
!/libs/APIs.zip
!/libs/ic2classic-api.zip
